@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.mixin-list {
    // padding: 30px 10px;
    padding: 0;
    margin: 0 auto;
    @include clearfix;
    text-align: left;
    // max-width: 666px;
    // background: #ccc;
    list-style: none;
    padding-right: 20px;
    box-sizing: border-box;

    &__link {
        // font-size: 12px;
        // color: #fff;
        // line-height: 1.5;
        text-decoration: none;
        padding: 12px 8px;
        // display: block;
        position: relative;
        float: left;
        width: 100%;
        background: rgba(#d43324,.0);
        cursor: pointer;
        transition: background .25s ease;
        color: #d43324;
        box-sizing: border-box;

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 0;
            background: #d43324;
            transition: width .35s ease;
        }

        &:after {
            left: 0;
            top: 1px;
        }

        &:before {
            right: 0;
            bottom: 1px;
        }


        // &:hover:after,
        // &:hover:before {
        //     width: 100%;
        // }

        &:hover,
        &.is-selected {
            // color: #fff;
            background: rgba(#d43324,.1);

            &:after,
            &:before {
                width: 100%;
            }
        }
    }
}
