@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.homepage {
    text-align: center;
    padding: 40px 0;
    // background-position: top center;
    // background-repeat: no-repeat;
    // background-image: url(bgPlane.jpg);
    // background-image: url(bgManufactory.jpg);
    // background-attachment: fixed;
    // background-size: cover;
    // background-color: #3c291d;

    &__logo {
        position: relative;
        margin: 40px auto;
        display: block;
        text-decoration: none;
        outline: none;
        max-width: 240px;
        padding: 12px;
        width: 100%;
        height: auto;
        padding: 0 20px;
        box-sizing: border-box;
    }

    &__title {
        font-family: 'Montserrat', sans-serif;
        color: #373737;
        margin: 0;
        // padding: 0 10px;
        font-size: 32px;
        // max-width: 1000px;
        // font-weight: 400;

        // @include media(S) {
        //     font-size: 36px;
        // }

        // @include media(L) {
        //     font-size: 46px;
        // }
    }

    &__description {
        // text-transform: uppercase;
        // font-weight: 400;
        margin: 0;
        font-size: 24px;
        color: #9f9f9f;
        font-family: 'PT Serif', serif;
        font-style: italic;
    }
}
