$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

$mainmenu__link-selected--height: 4px;

.mainmenu {
    // font-family: 'PT Sans', sans-serif;
    // font-weight: 700px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 50px;
    z-index: 1000;

    &__wrapper {
        max-width: 666px + 111px;
        margin: 0 auto;
    }

    &__nav {
        @include clearfix;
        padding: 0 5%;
        background: #d43324;
        // box-sizing: border-box;
    }

    &__subnav {
        // background: #d43324;
        // text-align: right;
        padding: 10px 5%;
        // box-sizing: border-box;
        @include clearfix;
    }

    &__shield {
        // display: inline-block;
        float: right;
        margin-left: 4px;
    }

    &__coriolan-lion {
        float: left;
        width: auto;
        height: 30px;
        margin-right: 10px;
    }

    &__link {
        padding: 10px 14px;
        // display: inline-block;
        line-height: 30px;
        // font-size: 16px;
        text-decoration: none;
        color: #fff;
        // text-transform: uppercase;
        transition: opacity .25s ease;
        // font-weight: 700;
        position: relative;
        float: left;
        opacity: .5;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 0;
            // height: 4px;
            transition: width .25s ease .15s, left .25s ease .15s, height .25s ease;
            // transition: width .25s ease .25s, left .25s ease .25s;
            // background: rgba(#fff,.4);
            background: #fff;
            // border-radius: 0 0 100% 100%;
            // margin-top: -$mainmenu__link-selected--height/2;
        }

        // @include media(M) {
        //     padding: 16px 10px;
        // }

        &:hover {
            opacity: 1;
        }

        &.is-selected {
            opacity: 1;

            &:after {
                height: $mainmenu__link-selected--height;
                left: 0;
                width: 100%;
            }
        }

        &--coriolan {
            font-family: 'Montserrat', sans-serif;
        }

        &--social {
            float: right;
        }
    }

    &__svgicon {
        display: block;
        width: auto;
        height: 30px;
        box-sizing: border-box;
        padding: 8px 0;
    }
}
