@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

$sidebarWidth: 180px;

.post {
    padding: 30px 10px;
    max-width: 666px;
    margin: 0 auto;
    @include clearfix;
    text-align: left;

    &__title {
        float: left;
        width: 100%;
    }

    &__sidebar {
        overflow: hidden;
        float: left;
        width: $sidebarWidth;
        position: fixed;
    }

    &__content {
        float: left;
        width: calc(100% - #{$sidebarWidth});
        margin-left: $sidebarWidth;
    }
}
